# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Documentation with secrets
EMAIL_SETUP.md
LOCAL_TESTING.md

# Lambda node_modules (should not be committed)
lambda/**/node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
